{% extends '@Modules/devhorizontmembers/views/templates/admin/layout.html.twig' %}

{% block cardHeaderTitle %}
  {{ 'List of Members' }}
{% endblock %}

{% block cardHeaderAction %}
  <a href="{{ path('ps_dev_horizont_members_edit') }}">New Member</a>
{% endblock %}

{% block contentForm %}
  <div class="row col-md-12">
    <table class="grid-table table ">
      <thead class="thead-default">
        <tr>
          <th>ID</th>
          <th>First Name</th>
          <th>Last Name</th>
          <th>Email</th>
          <th>Age</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        {% for member in members %}
          <tr>
            <td>{{ member.id}}</td>
            <td>{{ member.first_name }}</td>
            <td>{{ member.last_name }}</td>
            <td>{{ member.email }}</td>
            <td>{{ member.age }}</td>
            <td>
              <a
              class="btn btn-link dropdown-toggle dropdown-toggle-dots dropdown-toggle-split no-rotate"
              data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              </a>

              <div class="dropdown-menu dropdown-menu-right" x-placement="bottom-end">
                <a class="btn tooltip-link js-link-row-action dropdown-item" href="{{ path('ps_dev_horizont_members_edit', {'id': member.id}) }}" data-confirm-message="" data-clickable-row="1">
                  <i class="material-icons">edit</i>
                    Edit
                </a>
    
                <form action="{{ path('ps_dev_horizont_members_delete', {'id': member.id}) }}" method="post" class="btn dropdown-item">
                  <button type="submit" class="btn tooltip-link dropdown-item p-0">
                    <i class="material-icons">delete</i>
                    Delete
                  </button>
                </form>
              </div>

            </td>
          </tr>
          {% endfor %}
      </tbody>
    </table>
  </div>
{% endblock %}
